@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  height: 2980px;
  background-color: darkgreen;
}

.header {  
  background-color: aqua;
}

.menu-text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.contacts_text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.header_menu {
  top: 92px;
  left: 24px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  width: 1052px;
  height: 105px;
  background-color: transparent;
}

.header_menu_div {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 390px;
  max-width: 390px;
  width: 390px;
  height: 23px;
  margin-left: 35px;
  margin-right: -45px;
  background-color: azure;
}

.header_logo {
  width: 148px;
  height: 105px;
  flex-grow: 0;
}

.header_empty_div {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  flex-shrink: 0;
  max-width: 100px;
  height: 97px;
  margin: 3px 5px ;
  background-color: burlywood;
}

.header_contacts_div {
  flex-grow: 0;
  flex-basis: 260px;
  max-width: 260px;
  height: 97px;
  margin: 3px 5px;
  background-color: burlywood;
}

.list-marker {
  flex-shrink: 0;
  align-self: center;
  width: 7px;
  height: 7px;
  stroke: #000;
  stroke-width: 1px;
}

.jambotron {
  top: 288px;
  width: 1082px;
  height: 744px;
  background-image: url(/images/lotus-flower_layout_png.png);
  background-position: 50% 50%;
  background-size: cover;
  
}

.menu_text_lots, .menu_text_about {
  text-decoration: underline; 
}

.overlay {
  max-width: 1082px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.lots {
  max-width: 1082px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
}

.lot1 {
  background-image: url(/images/lot1_png.png);
  background-size: cover;
  width: 328px;
  height: 554px;
}

.lot2 {
  background-image: url(/images/lot2_png.png);
  background-size: cover;
  width: 328px;
  height: 554px;
}

.lot3 {
  background-image: url(/images/lot3_png.png);
  background-size: cover;
  width: 328px;
  height: 554px;
}